@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<p>Joel is such a stud. He knows a lot about movies and other stuff. Here's more info about him.</p>
<br />
<h2>Quick Wits Comedy Club</h2>
<p>Joel regularly performs at Quick Wits comedy club. Quick Wits is a comedy club based in Salt Lake City, Utah. Joel is known for its improvisational comedy performances. Improv comedy involves unscripted performances where the actors (and Joel) create scenes, characters, and dialogue on the spot based on audience suggestions or given prompts. 
    Check out Quick Wits <a href="https://www.qwcomedy.com/">here.</a> </p>
<br /><br />
<h2>Baconsale</h2>
<p>Joel really knows his stuff. He knows it so well that he takes part in a weekly podcast, Baconsale, which focuses on films and pop culture.</p>
<p>Check out this link to <a href="https://www.baconsale.com">baconsale</a></p>
<div><p>Here's a picture of Lil' Hilty and his podcast team (if you click on his face, it'll send you somewhere super secret):</p>
    <a href="https://www.baconsale.com" target="_blank">
        <img src="~/img/BaconsaleKate.jpg" />
        </a>

    </div>
<br /><br />


