@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>The Joel Hilton Film Collection</h1>
    <h2>Welcome to the Home Page. Look at this picture:</h2>
    <img src="~/img/JoelHiltonHeadshot.jpg" />
    
</div>
